.modal-chat .modal-header  i.fa ,
.modal-chat .modal-header  i.glyphicon {
    margin-right:10px;
}

.modal-chat .modal-body{
    height:320px;
    margin:0;
    padding:30px 15px 30px;
    overflow-y:auto
}
.modal-chat .modal-body.loader {
    background-image: url('loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
}

.modal-chat .modal-body.loader > * {
    display: none;

}
.modal-chat .modal-body > * {
    color:#333 !important;
}

.modal-chat .modal-body .msn{
    padding: 0 10px 5px;
    margin-left:40px;
    border-radius:2px 8px  8px 2px;
    background-color:#f5f5f5;
    border:1px solid #eee;
    margin-bottom:10px;
    padding:10px;
    margin-left:40px;
    margin-right: 0;
    margin-bottom:15px;
}

.modal-chat .modal-body .msn.OUT{
    padding: 0 10px 5px;
    margin-left:40px;
    border-radius:8px 2px  2px 8px;
    background-color:#ddf8ff;
    border:1px solid #eee;
    margin-bottom:10px;
    padding:10px;
    margin-right:40px;
    margin-left: 0;
    margin-bottom:15px;
}


.modal-chat .modal-body .msn-container{
    padding:10px;
    font-size:14px;
}




/*


.modal-chat .modal-body .msn pre {
    border-radius:2px 8px  8px 2px;
     background-color:#ddd;
}

.modal-chat .modal-body .msn.client pre {
    border-radius:8px 2px  2px 8px;
       background-color:#ddf8ff
}


.modal-chat .modal-body .msn.client{
    margin-right:60px;
    margin-left:0;

}

.modal-chat .modal-body .msn.client{
    margin-right:60px;
    margin-left:0;

}


*/

.font12{
    font-size:12px
}

.modal-footer textarea {
    height:50px;
    width: calc(100% - 80px);
    float:left;
}


.modal-footer .formContent textarea {
    height:80px;
    width: calc(100% - 80px);
    float:left !important;
    resize: none !important
}

.modal-footer .formContent button{
    height:80px;
    width: 70px;
    float:right !important;
    font-size:27px;
    border-radius: 4px 8px 8px 4px!important;
}






